service cloud.firestore {
  match /databases/{database}/documents {
    match /categories/{categoryID} {
      allow read;
      allow write: if request.auth.uid != null;
    }
    match /indices/{indexID} {
      allow read;
      allow write: if request.auth.uid != null;
    }
    match /private/{privateID} {
      allow read;
      allow write: if request.auth.uid != null;
    }    
    match /public/{publicID} {
      allow read;
      allow write: if request.auth.uid != null;
    }       
    match /categories/{categoryID} {
      allow read;
      allow write: if request.auth.uid != null;
    }
    match /contact/{contactID} {
      allow read: if request.auth.uid != null;
      allow write: if request.resource.data.email is string;
    }
    match /signups/{signupID} {
      allow read: if request.auth.uid != null;    
      allow write: if request.resource.data.email is string;
    }      
  }
}